.rouge-script-regular {
  font-family: "Rouge Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.inter-uniquifier{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.tinos-regular {
    font-family: "Tinos", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.tinos-bold {
    font-family: "Tinos", serif;
    font-weight: 700;
    font-style: normal;
}
  
.tinos-regular-italic {
    font-family: "Tinos", serif;
    font-weight: 400;
    font-style: italic;
}
  
.tinos-bold-italic {
    font-family: "Tinos", serif;
    font-weight: 700;
    font-style: italic;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color:white;
    color: black;
    min-width: 300px;  /* largura min */

}

header {
  border-bottom: 2px solid #b12020;
  width: 100%;
}

footer{
  border-top: 2px solid #b12020;
  width: 100%;
  padding-top: 38px;
}

.cabecalho{
    padding: 10px;
    padding-right: 97px;
    line-height: 10px;
}
.cabecalho-menu{
    display: flex;
    flex-direction: row-reverse;
    gap: 12px;
}
.cabecalho-menu-item{
    font-family: "Tinos", serif;
    font-weight: 400;
    font-size: clamp(0.9rem, 0vw, 10rem);
    font-style: italic;
    color: #AA1515;
    cursor: pointer;
    transition: 0.1s;
}
.cabecalho-menu-btn{
    padding: 5px 5px;
    background-color: transparent;
    border: none;
    color: #AA1515;
    border-radius: 0px;
    font-family: "Tinos", serif;
    position: relative;
}
.cabecalho-menu-item:hover{
    background-color: #AA1515;
    color: white;
}

.conteudo{
    display: flex;
    flex-direction: row;
    gap: 26px;
    padding: 2px;
    margin: 133px;
    text-align: justify;  
}
.conteudo h1{
  font-family: "Rouge Script", cursive;
  font-weight: 400;
  font-size: clamp(4.9rem, 0vw, 15rem);
  font-style: normal;
  color: #AA1515;
}

.conteudo p {
    font-family: "Inter", sans-serif;
    font-style: light;
    font-weight: 200;
    font-size: clamp(1.0rem, 1.2vw, 1.6rem);
    color: rgb(65, 65, 65);
}
.conteudo h2{
  font-family: "Rouge Script", cursive;
  font-weight: 400;
  font-size: clamp(3.5rem, 0vw, 15rem);
  font-style: normal;
  color: #AA1515;
}

.conteudo-foto-container{
  position: relative;
  width: 100%;
  max-width: 338px;
  height: auto;
  display: flex;
  justify-content: center;
}
.conteudo-img{
  position: relative;
  width: 100%;
  border: none;
}